{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "tsx": true // Allows for the parsing of TSX
    }
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "plugins": ["vue", "prettier"],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "prettier/prettier": [
      1,
      {
        "semi": false,
        "trailingComma": "none",
        "printWidth": 100,
        "tabWidth": 2,
        "arrowParens": "avoid",
        "singleQuote": true,
        "jsxBracketSameLine": true
      }
    ],
    "semi": 0,
    "eqeqeq": [1, "always"],
    "no-undef": 0,
    "no-console": 1,
    "no-unused-vars": 0,
    "no-mixed-operators": [
      1,
      {
        "allowSamePrecedence": true
      }
    ],
    "eol-last": [2, "always"],
    "no-confusing-arrow": 0,
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-body-style": [2, "as-needed"],
    "no-extra-parens": [
      "off",
      "functions",
      {
        "conditionalAssign": false,
        "nestedBinaryExpressions": false,
        "ignoreJSX": "multi-line",
        "enforceForArrowConditionals": false
      }
    ],
    "no-unused-expressions": 1,
    "import/no-useless-path-segments": 1,
    "import/no-extraneous-dependencies": 1,
    "import/no-duplicates": 1,
    "import/order": 1,
    "import/newline-after-import": 1
  }
}