:root {
  /* COLORS */
  --gallery: #EEEEEE;
  --white: #FFFFFF;
  --silver-chalice: #AAAAAA;
  --black: #000000;
  --black-1: rgba(0, 0, 0, 0.87);
  --black-2: rgba(0, 0, 0, 0.543846);
  --black-3: rgba(0, 0, 0, 0.54);
  --black-4: rgba(0, 0, 0, 0.12);
  --black-5: rgba(0, 0, 0, 0.24);
  --black-6: rgba(0, 0, 0, 0.75);
  --persian-green: #009688;
  --yellow: yellow;
  --alabaster: #FAFAFA;

  /* FONTS */
  --app-font-family: 'Roboto', sans-serif;
}
